{% extends 'base.html' %}

{% load i18n %}

{% block title %}PPB home{% endblock %}

{% block content %}
	{% if not user %}
		<p><a href="{{ login_url }}">Login</a> with your potatolondon account to use PPB</p>
	{% else %}
		<p>{% trans "Hello" %} {{ user.email }}. <a href="{{ logout_url }}">Logout</a></p>
		<p><a href="{% url snippets:new-snippet %}">Create a new snippet</a></p>
	{% endif %}


	<form action="{% url snippets:home %}" method="get">
		<input type="text" name="q" placeholder="Type a thing" value="{{ q }}"/>
		<input type="submit" value="search snippets" />
	</form>

	{% if latest_snippets %}

{% blocktrans count counter=latest_snippets|length %}
<h2>{{ counter }} snippet</h2>
{% plural %}
<h2>{{ counter }} snippets</h2>
{% endblocktrans %}

		<ul>
			{% for s in latest_snippets %}
			<li><a href="{{ s.get_absolute_url }}">{{ s.title }}</a> in {{ s.get_language }}
				by {{ s.creator.email }} on {{ s.created }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<h2>There are no latest snippets</h2>
	{% endif %}

	{% if q or filters %}
		{% if results %}
	<h2>{{ results_count|default:0 }} Results for {{ q }}</h2>
	<ul>
		{% for r in results %}
		<li>{{ r.title }} in {{ r.language_readable }}
			by {{ r.creator_email }} on {{ r.created }}</li>
		{% endfor %}
	<ul>
		{% else %}
	<h2>There are no results for {{ q }}</h2>
		{% endif %}
	{% endif %}


{% endblock %}
